<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766766569628-474pk38mbamr48lbq1ue1lel2hp9died.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766766569628-474pk38mbamr48lbq1ue1lel2hp9died</string>
	<key>API_KEY</key>
	<string>AIzaSyDenlWwf4JS82lWwS2uWp9Ogx4FVajPX6E</string>
	<key>GCM_SENDER_ID</key>
	<string>766766569628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appPengaduanMasyarakatBna</string>
	<key>PROJECT_ID</key>
	<string>e-pengaduan-64f1d</string>
	<key>STORAGE_BUCKET</key>
	<string>e-pengaduan-64f1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766766569628:ios:356bd5189da2d03aed7559</string>
</dict>
</plist>